<!DOCTYPE html>
<html>
<head>
    <title>{{ cms_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />


    {% stylesheets filter="" output="cms/css/cms_packed_login.css" debug=false
    '@BaseCmsBundle/Resources/public/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap/css/bootstrap.min.css'
    '@BaseCmsBundle/Resources/public/plugins/font-awesome/css/font-awesome.min.css'
    '@BaseCmsBundle/Resources/public/css/animate.min.css'
    '@BaseCmsBundle/Resources/public/css/style.min.css'
    '@BaseCmsBundle/Resources/public/css/style-responsive.min.css'
    '@BaseCmsBundle/Resources/public/css/theme/default.css'
    '@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/css/datepicker.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/css/datepicker3.css'
    '@BaseCmsBundle/Resources/public/plugins/gritter/css/jquery.gritter.css'
    '@BaseCmsBundle/Resources/public/css/gong.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>

<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login bg-black animated fadeInDown">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                {{ cms_title }}
                <small>panel administracyjny</small>
            </div>
            <div class="icon">
                <i class="fa fa-sign-in"></i>
            </div>
        </div>
        <!-- end brand -->
        <div class="login-content">
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}
            </div>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
    <!-- end login -->
</div>


{% javascripts  filter="" output="cms/js/cms_packed_login.js" debug=false
'@BaseCmsBundle/Resources/public/plugins/jquery/jquery-1.9.1.min.js'
'@BaseCmsBundle/Resources/public/plugins/pace/pace.min.js'
'@BaseCmsBundle/Resources/public/plugins/jquery/jquery-migrate-1.1.0.min.js'
'@BaseCmsBundle/Resources/public/plugins/jquery-ui/ui/minified/jquery-ui.min.js'
'@BaseCmsBundle/Resources/public/plugins/bootstrap/js/bootstrap.min.js'
'@BaseCmsBundle/Resources/public/crossbrowserjs/html5shiv.js'
'@BaseCmsBundle/Resources/public/crossbrowserjs/respond.min.js'
'@BaseCmsBundle/Resources/public/crossbrowserjs/excanvas.min.js'
'@BaseCmsBundle/Resources/public/plugins/slimscroll/jquery.slimscroll.min.js'
'@BaseCmsBundle/Resources/public/plugins/jquery-cookie/jquery.cookie.js'
'@BaseCmsBundle/Resources/public/plugins/gritter/js/jquery.gritter.js'
'@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.min.js'
'@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.time.min.js'
'@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.resize.min.js'
'@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.pie.min.js'
'@BaseCmsBundle/Resources/public/plugins/sparkline/jquery.sparkline.js'
'@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js'
'@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js'
'@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
'@BaseCmsBundle/Resources/public/js/dashboard.min.js'
'@BaseCmsBundle/Resources/public/js/apps.min.js'
%}
<script src="{{ asset_url }}"></script>

{% endjavascripts %}

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
</body>
</html>