{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} data-render="switchery" data-theme="default" /><label  for="{{ id }}">{{ label|trans }}</label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_widget_simple -%}

    {% if(attr.help is defined) %}
        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ attr.help|raw }}</p>
    {% endif %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}


{% block textarea_widget -%}
    {% if(attr.help is defined) %}
        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ attr.help|raw }}</p>
    {% endif %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}