<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ cms_title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    {% stylesheets filter="" output="cms/css/cms_packed.css" debug=false
    '@BaseCmsBundle/Resources/public/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap/css/bootstrap.min.css'
    '@BaseCmsBundle/Resources/public/plugins/font-awesome/css/font-awesome.min.css'
    '@BaseCmsBundle/Resources/public/css/animate.min.css'
    '@BaseCmsBundle/Resources/public/css/style.min.css'
    '@BaseCmsBundle/Resources/public/css/style-responsive.min.css'
    '@BaseCmsBundle/Resources/public/css/theme/default.css'
    '@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/css/datepicker.css'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/css/datepicker3.css'
    '@BaseCmsBundle/Resources/public/plugins/gritter/css/jquery.gritter.css'
    '@BaseCmsBundle/Resources/public/css/gong.css'
    '@BaseCmsBundle/Resources/public/plugins/switchery/switchery.min.css'
    '@BaseCmsBundle/Resources/public/plugins/lightbox/css/lightbox.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

    {% javascripts filter="" output="cms/js/cms_packed.js" debug=false
    '@BaseCmsBundle/Resources/public/plugins/jquery/jquery-1.9.1.min.js'
    '@BaseCmsBundle/Resources/public/plugins/pace/pace.min.js'
    '@BaseCmsBundle/Resources/public/plugins/jquery/jquery-migrate-1.1.0.min.js'
    '@BaseCmsBundle/Resources/public/plugins/jquery-ui/ui/minified/jquery-ui.min.js'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap/js/bootstrap.min.js'
    '@BaseCmsBundle/Resources/public/crossbrowserjs/html5shiv.js'
    '@BaseCmsBundle/Resources/public/crossbrowserjs/respond.min.js'
    '@BaseCmsBundle/Resources/public/crossbrowserjs/excanvas.min.js'
    '@BaseCmsBundle/Resources/public/plugins/slimscroll/jquery.slimscroll.min.js'
    '@BaseCmsBundle/Resources/public/plugins/jquery-cookie/jquery.cookie.js'
    '@BaseCmsBundle/Resources/public/plugins/gritter/js/jquery.gritter.js'
    '@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.min.js'
    '@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.time.min.js'
    '@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.resize.min.js'
    '@BaseCmsBundle/Resources/public/plugins/flot/jquery.flot.pie.min.js'
    '@BaseCmsBundle/Resources/public/plugins/sparkline/jquery.sparkline.js'
    '@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js'
    '@BaseCmsBundle/Resources/public/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js'
    '@BaseCmsBundle/Resources/public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    '@BaseCmsBundle/Resources/public/js/dashboard.min.js'
    '@BaseCmsBundle/Resources/public/js/apps.min.js'
    '@BaseCmsBundle/Resources/public/js/jquery-sortable-min.js'
    '@BaseCmsBundle/Resources/public/js/cms.js'
    '@BaseCmsBundle/Resources/public/plugins/switchery/switchery.min.js'
    '@BaseCmsBundle/Resources/public/plugins/lightbox/js/lightbox-2.6.min.js'
    %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}


    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    {{ tinymce_init() }}

    <script>
        $(document).ready(function() {
            App.init();

            var elems = Array.prototype.slice.call(document.querySelectorAll('[data-render="switchery"]'));

            elems.forEach(function(html) {
                var switchery = new Switchery(html);
            });

            //Dashboard.init();
        });
    </script>
</head>

<body>

{% set queryParams = app.request.query.all %}
<!-- begin #page-loader -->
<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <a href="{{ path('gong_cms_homepage') }}" class="navbar-brand"><span class="navbar-logo"></span>{{ cms_title }}</a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end mobile sidebar expand / collapse button -->

            <!-- begin header navigation right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('bundles/basecms/img/user-13.jpg') }}" alt="" />
                        <span class="hidden-xs">{{ app.user.username }}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft">
                        <li class="arrow"></li>

                        <li><a href="{{path('fos_user_profile_edit')}}">Zmień dane</a></li>
                        <li><a href="{{path('fos_user_change_password')}}">Zmiana hasła</a></li>
                        <li class="divider"></li>
                        <li><a href="{{path('fos_user_security_logout')}}">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <ul class="nav">
                <li class="nav-profile">
                    <div class="image">
                        <a href="javascript:;"><img src="{{ asset('bundles/basecms/img/user-13.jpg') }}" alt="" /></a>
                    </div>
                    <div class="info">
                        {{ app.user.username }}
                        <small>Administrator</small>
                    </div>
                </li>
            </ul>
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->

            {{ knp_menu_render('cms_main', {'template': 'BaseCmsBundle:Menu:knp_menu.html.twig', 'currentClass' : 'active'}) }}

            {#
        <ul class="nav">
        <li class="nav-header">Nawigacja</li>


        <li class="has-sub active">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-laptop"></i>
                <span>Dashboard</span>
            </a>
            <ul class="sub-menu">
                <li><a href="{{ path('gong_cms_homepage') }}">Dostępne moduły</a></li>
                <li><a href="{{ path('gong_cms_homepage') }}">Lista aktywności</a></li>
            </ul>
        </li>
        <li class="has-sub">
            <a href="javascript:;">
                <span>Przykład</span>
            </a>
            <ul class="sub-menu">
                <li><a href="{{ path('cms_example') }}">Przykładowa lista</a></li>
            </ul>
        </li>

        <!-- begin sidebar minify button -->
        <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        <!-- end sidebar minify button -->
        </ul>
            #}
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        {{ wo_render_breadcrumbs() }}
        <br />
        <!-- end breadcrumb -->

        <!-- begin row -->
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

</body>
</html>