{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Logowanie</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin" role="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                       class="form-control"/>

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control"/>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input type="submit" class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </form>
            <br/>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>



{% endblock fos_user_content %}