{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8"><h2>Grupa - edycja</h2></div>
            <div class="col-md-4 panel-btns">
                <a href="{{ path('fos_user_group_list') }}" class="btn btn-xs btn-info pull-right" role="button">Powrót do listy</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {#<form action="{{ path('fos_user_group_edit', {'groupName': group_name} ) }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_edit">#}
           {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-xs btn-primary" value="{{ 'group.edit.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        {#</form>#}
    </div>
</div>


