{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Lista grup</h3>
    </div>
    <div class="panel-body">

            <a href="{{ path('fos_user_group_new') }}" class="btn btn-success btn" role="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;Dodaj grupę</a>
            <br />
            <br />
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Operacje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ group.getName() }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('fos_user_group_edit', {'groupName': group.getName()} ) }}" class="btn btn-warning btn-xs">Edytuj</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>