{% trans_default_domain 'FOSUserBundle' %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Grupa - dodaj</h3>
    </div>
    <div class="panel-body">

        {#<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST"  class="fos_user_group_edit">#}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" class="btn btn-xs btn-primary" value="{{ 'group.new.submit'|trans }}"/>
            </div>
        {{ form_end(form) }}
        {#</form>#}


    </div>
</div>