{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-8"><h2>Grupa</h2></div>
            <div class="col-md-4 panel-btns"><a href="{{ path('fos_user_group_list') }}" class="btn btn-xs btn-primary pull-right" role="button">← Powrót do listy</a></div>
        </div>
    </div>
    <div class="panel-body">
        <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
    </div>
</div>