{% trans_default_domain 'FOSUserBundle' %}

{#<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">#}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
    </div>
{{ form_end(form) }}
{#</form>#}
