{% extends "BaseCmsBundle:Layout:layout.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <ul class="nav nav-tabs" role="tablist" style="border-bottom: 0px">
        <li role="presentation" {% if not search_date %}class="active"{% endif %}><a href="#modules" aria-controls="profile" role="tab" data-toggle="tab">Dostępne moduły</a></li>
        <li role="presentation" {% if search_date %}class="active"{% endif %}><a href="#home" aria-controls="home" role="tab" data-toggle="tab" >Ostatnia aktywność</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if not search_date %}active{% endif %}" id="modules">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Dostępne moduły</h3></div>

                <div class="panel-body">

                    <div class="row">
                        {% for key, module in dashboard_modules if module.icon_class != "" %}
                            {% if is_granted('ROLE_SUPER_ADMIN') or (key in app.user.roles) %}
                                <div class="col-sm-6 col-md-3">
                                    <div class="thumbnail text-center">
                                        <h1 class="{{ module.icon_class }}" aria-hidden="true"></h1>

                                        <div class="caption">
                                            <h3>{{ module.element_name }}</h3>
                                            <h5>{{ module.dashboard_description }}</h5>
                                            <br />
                                            <p><a href="{{ path(key) }}" class="btn btn-primary" role="button">Pokaż</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane {% if search_date %}active{% endif %}" id="home">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class='col-md-6'><h3>Panel administracyjny - aktywność</h3></div>

                        <div class='col-md-6'>

                            <form class="navbar-form navbar-right" method="get" action="{{ url('gong_cms_homepage') }}">
                                <div class="form-group">

                                    <div class="input-group date" id="dashoboardatepicker">
                                        <input {% if search_date %}value="{{ search_date }}"{% endif %} name="filterdate" type='text' class="form-control" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>

                                    </div>

                                </div>
                                <button type="submit" class="btn btn-default">Szukaj</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container">
                        {% if dashboard_data|length > 0 %}
                            <ul class="timeline">

                                {% set i = 0 %}
                                {% for dashboardElement in dashboard_data %}


                                    {% if attribute(dashboard_modules, dashboardElement.elementUrl) is defined %}
                                        <li>
                                            <div class="timeline-time">
                                                <span class="date">{{ dashboardElement.createdAt|date('d.m.Y H:i:s')|human_date }}</span>
                                                <span class="time">{{ dashboardElement.createdAt|date('H:i') }}</span>
                                            </div>
                                            <!-- end timeline-time -->
                                            <!-- begin timeline-icon -->
                                            <div class="timeline-icon">
                                                <a href="javascript:;"><i class="{{ attribute(attribute(dashboard_modules, dashboardElement.elementUrl), 'icon_class') }}"></i></a>
                                            </div>
                                            <!-- end timeline-icon -->
                                            <!-- begin timeline-body -->
                                            <div class="timeline-body">
                                                <div class="timeline-header">
                                                    <small>przez:</small>&nbsp;&nbsp;<span class="username">{{ dashboardElement.cmsUser.username }} </span>
                                                </div>
                                                <div class="timeline-content">
                                                    <p>
                                                        {% if dashboardElement.action == 'edit' %}
                                                    <h5 class="timeline-title"><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edycja - <a href="{{ path(dashboardElement.elementUrl ~ '_edit', {'id' : dashboardElement.id}) }}">{{ dashboardElement.elementName|striptags }}.</a></h5>
                                                    {% elseif dashboardElement.action == 'add' %}
                                                        <h5 class="timeline-title"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nowy element - <a href="{{ path(dashboardElement.elementUrl ~ '_edit', {'id' : dashboardElement.id}) }}">{{ dashboardElement.elementName|striptags }}.</a></h5>
                                                    {% elseif dashboardElement.action == 'delete' %}
                                                        <h5 class="timeline-title"><i class="glyphicon glyphicon-minus"></i>&nbsp;Usunięcie - {{ dashboardElement.elementName|striptags }}.</h5>
                                                    {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Brak elementów.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

