{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}Usunięcie elementu{% endblock %}

{% form_theme delete_form 'BaseCmsBundle:Layout:bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8"><h2>Czy chesz usunąć element?</h2></div>
            </div>
        </div>
        <div class="panel-body panel-form">
            {#<form role="form" action="{{ path(controller_name ~ '_delete', queryParams|merge({ 'id': document.id })) }}" method="post" {{ form_enctype(delete_form) }}>#}
            {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <div class="form-group">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <label class="control-label col-md-1 col-sm-1"></label>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-danger">Usuń</button>
                            <a href="{{ path(controller_name, queryParams) }}" class="btn btn-primary" role="button">Anuluj</a>
                        </div>
                    </div>
                </div>
            {{ form_end(delete_form) }}
            {#</form>#}
        </div>
    </div>

{% endblock %}

