{% extends "BaseCmsBundle:Layout:layout.html.twig" %}
{% block title %}{{ crud_config.list_title }}{% endblock %}
{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if is_sortable %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#list" aria-controls="settings" role="tab" data-toggle="tab">Lista</a></li>
        <li role="presentation"><a href="#sort-elements" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;Sortowanie</a></li>
    </ul>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="list">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>{{ crud_config.list_title }}&nbsp;<span class="badge">{{ pagination.getTotalItemCount }}</span></h2>
                        </div>
                        {% if crud_config.show_search %}
                            <div class="col-md-6">
                                <form class="navbar-form navbar-right" role="search" action="{{ path(controller_name, queryParams|merge({'page' : '1'})) }}" method="POST">
                                    <div class="input-group">
                                        {% if search is not null %}
                                            <span class="input-group-btn">
                                <button type="submit" name="clear_search" value="true" class="btn btn-info" tabindex="2"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                                        {% endif %}
                                        <input type="text" class="form-control" name="search" placeholder="Wyszukaj..." value="{{search}}">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" tabindex="1">Wyślij</button>
                            </span>
                                    </div>

                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class="panel-body">
                    {% if crud_config.allow_add and (controller_name ~ '_create' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles) %}
                        <a href="{{ path(controller_name ~ '_create', queryParams) }}" class="btn btn-success btn" role="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;Dodaj {{ crud_config.element_name|lower }}</a>
                        <br />
                        <br />
                    {% endif %}

                    {% if filters|length %}
                        <div class="row">

                            <div class="col-md-12">

                                <div class="crud-filters">
                                    <ul class="nav nav-pills">
                                        {% for filter in filters %}
                                            <li{% if filter.active %} class="active"{% endif %}>
                                                <a href="{{ path(controller_name, queryParams|merge({'filter' : filter.id})|delete('page')) }}">{{ filter.name }} <span class="badge">{{ filter.count }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>

                        </div>
                    {% endif %}

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                {% for column in crud_config.elements %}
                                    {% if column.list_visible %}
                                        {% if column.sortable %}
                                            {% set direction = pagination.getDirection() %}
                                            {% if column.list_name is defined %}
                                                {% set display_name = column.list_name %}
                                            {% else %}
                                                {% set display_name = column.display_name %}
                                            {% endif %}
                                            <th class="{% if pagination.isSorted(column.name) %}sorted{% endif %}{% if column.list_center is defined and column.list_center == true %} text-center{% endif %}">{{ knp_pagination_sortable(pagination, display_name, column.name) }}{% if pagination.isSorted(column.name) %}<span class="glyphicon glyphicon-chevron-{% if direction == 'asc' %}up{% else %}down{% endif %}"></span>{% endif %}</th>
                                        {% else %}
                                            <th>{{ column.display_name }}</th>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <th>Operacje</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for document in pagination %}
                                <tr>
                                    <td>{{ ((pagination.getCurrentPageNumber -1) * pagination.getItemNumberPerPage)+ loop.index}}</td>
                                    {% for column in crud_config.elements %}
                                        {% if column.list_visible %}
                                            <td class="{% if column.list_center is defined and column.list_center == true %}text-center{% endif %}">
                                                {% if column.type == 'date' or column.type == 'datetime' %}
                                                    {{ attribute(document, column.name|replace({'_' : ''}))|date('d-m-Y H:i:s') }}
                                                {% elseif column.list_decorate is defined %}
                                                    {{ column.list_decorate|format(attribute(document, column.name|replace({'_' : ''}))) }}
                                                {% else %}
                                                    {{ attribute(document, column.name|replace({'_' : ''}))|decorate(document, column.name)|raw }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>
                                        <div class="btn-group">
                                            {# <a href="{{ path(controller_name ~ '_show', queryParams|merge({ 'id': document.id })) }}" class="btn btn-success btn-xs">Pokaż</a> #}
                                            {% if crud_config.allow_edit and (controller_name ~ '_edit' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles) %}
                                                <a href="{{ path(controller_name ~ '_edit', queryParams|merge({ 'id': document.id })) }}" class="btn btn-warning btn-xs">Edytuj</a>
                                            {% endif %}
                                            {% if crud_config.allow_delete and (controller_name ~ '_delete' in app.user.roles or 'ROLE_SUPER_ADMIN' in app.user.roles) %}
                                                <a href="{{ path(controller_name ~ '_delete', queryParams|merge({ 'id': document.id })) }}" class="btn btn-danger btn-xs">Usuń</a>
                                            {% endif %}
                                            {% if crud_config.additionals_action is defined %}
                                                {% for item in crud_config.additionals_action %}
                                                    {%  if show_action_test(item, document) %}
                                                        {% if item.action == 'reject' %}
                                                            <a href="{{ path(controller_name ~ "_" ~ item.action, queryParams|merge({ 'id': document.id })) }}" class="btn btn-danger btn-xs {% if item.ajax %}ajax-call{% endif %}">{{ item.display_name }}</a>
                                                        {% else %}
                                                            <a href="{{ path(controller_name ~ "_" ~ item.action, queryParams|merge({ 'id': document.id })) }}" class="btn btn-success btn-xs {% if item.ajax %}ajax-call{% endif %}">{{ item.display_name }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {% if is_sortable %}
        <div role="tabpanel" class="tab-pane" id="sort-elements">

            <div class="panel panel-default" style="border-top-left-radius: 0; border-top: 0px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><span class="glyphicon glyphicon-sort"></span>&nbsp;&nbsp;{{ crud_config.list_title }} - sortowanie&nbsp;<span class="badge">{{ sortable_elements|length }}</span></h2>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="sort-table">
                        <thead>
                        <tr>
                            {% for column in crud_config.elements %}
                                {% if column.list_visible %}
                                    <th class="{% if column.list_center is defined and column.list_center == true %}text-center{% endif %}">{{ column.display_name }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in sortable_elements %}
                            <tr data-id="{{ document.id }}">
                                {% for column in crud_config.elements %}
                                    {% if column.list_visible %}
                                        <td class="{% if column.list_center is defined and column.list_center == true %}text-center{% endif %}">
                                            {% if column.type == 'date' %}
                                                {{ attribute(document, column.name|replace({'_' : ''}))|date('d-m-Y H:i:s') }}
                                            {% elseif column.list_decorate is defined %}
                                                {{ column.list_decorate|format(attribute(document, column.name|replace({'_' : ''}))) }}
                                            {% else %}
                                                {{ attribute(document, column.name|replace({'_' : ''}))|decorate(document, column.name)|raw }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if is_sortable %}
        <script type="text/javascript">
            $(function () {
                if($('#sort-table').length > 0){
                    var sortElements = [];

                    $('#sort-table').sortable({
                        containerSelector: 'table',
                        itemPath: '> tbody',
                        itemSelector: 'tr',
                        placeholder: '<span class="glyphicon glyphicon-arrow-right" style="color: red;"></span>',
                        onDrop: function (item, targetContainer, _super) {
                            sortElements = [];
                            jQuery.each($('#sort-table tbody tr'), function (i, val) {
                                sortElements.push($(val).attr('data-id'));
                            });

                            $.post(Routing.generate('{{ controller_name }}_sort'), {'items': sortElements}, function (data) {
                                if (data.success) {
                                    _super(item)
                                }
                            });
                        }
                    })
                }
            });
        </script>
    {% endif %}

{% endblock %}