{% trans_default_domain 'FOSUserBundle' %}

{#<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">#}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
{{ form_end(form) }}
{#</form>#}
