{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10"><h2>Zmiana danych</h2></div>
            </div>
        </div>
        <div class="panel-body panel-form">

            {#<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST"  role="form" class="form-horizontal form-bordered">#}
            {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2"></label>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-success">{{ 'profile.edit.submit'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}

            </form>

        </div>
    </div>
{% endblock %}