{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}{{ crud_config.element_name }} - edycja{% endblock %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8"><h2>{{ crud_config.element_name }} - edycja</h2></div>
                <div class="col-md-4 panel-btns"><a href="{{ path(controller_name, queryParams) }}" class="btn btn-xs btn-primary pull-right" role="button">← Powrót do listy</a></div>
            </div>
        </div>
        <div class="panel-body panel-form">
            {#<form role="form" role="form" class="form-horizontal form-bordered" action="{{ path(controller_name ~ '_update', queryParams|merge({ 'id': document.id })) }}" method="post" {{ form_enctype(edit_form) }}>#}
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2"></label>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-success">Edytuj</button>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            {#</form>#}
        </div>
    </div>
{% endblock %}