{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}Usunięcie elementu{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
              <div class="col-md-8"><h2>Czy chesz usunąć element?</h2></div>
        </div>
    </div>

    <form role="form" action="{{ path(controller_name ~ '_delete', queryParams|merge({ 'id': document.id })) }}" method="post" {{ form_enctype(delete_form) }}>
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a href="{{ path(controller_name, queryParams) }}" class="btn btn-primary" role="button">Anuluj</a>
    </form>
</div>

{% endblock %}