{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}{{ crud_config.element_name }} - edycja{% endblock %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
              <div class="col-md-8"><h2>{{ crud_config.element_name }} - edycja</h2></div>
              <div class="col-md-4 panel-btns"><a href="{{ path(controller_name, queryParams) }}" class="btn btn-xs btn-primary" role="button">← Powrót do listy</a></div>
        </div>
    </div>
    
    <form role="form" action="{{ path(controller_name ~ '_update', queryParams|merge({ 'id': document.id })) }}" method="post" {{ form_enctype(edit_form) }}>

        <div class="form-group">
            <label class="control-label" for="gong_BaseCmsBundle_sitepicturetype_image">Zdjęcie</label>
            <img src="/files/{{ document.picture.dir }}{{ document.picture.name }}" />
        </div>

        {{ form_widget(edit_form) }}
            <button type="submit" class="btn btn-success">Edytuj</button>
    </form>
</div>
{% endblock %}