{% extends "BaseCmsBundle:Layout:layout.html.twig" %}
{% block title %}{{ crud_config.list_title }}{% endblock %}
{% block content %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h2>{{ crud_config.list_title }}&nbsp;<span class="badge">{{ pagination.getTotalItemCount }}</span></h2>
            </div>
            {% if crud_config.show_search %}
            <div class="col-md-3">
                <form class="navbar-form navbar-right" role="search" action="{{ path(controller_name, queryParams|merge({'page' : '1'})) }}" method="POST">
                  <div class="input-group">
                    {% if search is not null %}
                    <span class="input-group-btn">
                        <button type="submit" name="clear_search" value="true" class="btn btn-info" tabindex="2"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                    {% endif %}
                    <input type="text" class="form-control" name="search" placeholder="Wyszukaj..." value="{{search}}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" tabindex="1">Wyślij</button>  
                    </span>
                  </div>
                                  
                </form>                
            </div>
            {% endif %}
        </div>
    </div>
    {% if crud_config.allow_add %}
        <a href="{{ path(controller_name ~ '_create', queryParams) }}" class="btn btn-success btn" role="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;Dodaj {{ crud_config.element_name|lower }}</a>
    {% endif %}

    {% if filters|length %}
        <div class="row">

            <div class="col-md-12">

                <div class="crud-filters">
                    <ul class="nav nav-pills">
                        {% for filter in filters %}
                            <li{% if filter.active %} class="active"{% endif %}>
                                <a href="{{ path(controller_name, queryParams|merge({'filter' : filter.id})|delete('page')) }}">{{ filter.name }} <span class="badge">{{ filter.count }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>
    {% endif %}

        <!-- Table -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    {% for column in crud_config.elements %}
                        {% if column.list_visible %}
                            {% if column.sortable %}
                                {% set direction = pagination.getDirection() %}
                                {% if column.list_name is defined %}
                                    {% set display_name = column.list_name %}
                                {% else %}
                                    {% set display_name = column.display_name %}
                                {% endif %}
                                <th class="{% if pagination.isSorted(column.name) %}sorted{% endif %}{% if column.list_center is defined and column.list_center == true %} text-center{% endif %}">{{ knp_pagination_sortable(pagination, display_name, column.name) }}{% if pagination.isSorted(column.name) %}<span class="glyphicon glyphicon-chevron-{% if direction == 'asc' %}up{% else %}down{% endif %}"></span>{% endif %}</th>
                            {% else %}
                                <th>{{ column.display_name }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <th>Operacje</th>
                </tr>
            </thead>
            <tbody>
            {% for document in pagination %}
                <tr {% if document.status == 'rejected' %}class="danger"{% endif %}>
                    <td>{{ ((pagination.getCurrentPageNumber -1) * pagination.getItemNumberPerPage)+ loop.index}}</td>
                    {% for column in crud_config.elements %}
                        {% if column.list_visible %}
                            <td class="{% if column.list_center is defined and column.list_center == true %}text-center{% endif %}">
                                {% if column.type == 'date' %}
                                    {{ attribute(document, column.name|replace({'_' : ''}))|date('d-m-Y H:i:s') }}
                                {% elseif column.list_decorate is defined %}
                                    {{ column.list_decorate|format(attribute(document, column.name|replace({'_' : ''}))) }}
                                {% else %}
                                    {% if '.' in column.name %}
                                        {% set splited = column.name|split('.') %}
                                        {{ attribute(attribute(document, splited.0), splited.1)|decorate(document, column.name)|raw }}
                                    {% else %}
                                        {{ attribute(document, column.name|replace({'_' : ''}))|decorate(document, column.name)|raw }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <div>
                            {# <a href="{{ path(controller_name ~ '_show', queryParams|merge({ 'id': document.id })) }}" class="btn btn-success btn-xs">Pokaż</a> #}
                            {% if crud_config.allow_edit %}
                            <a href="{{ path(controller_name ~ '_edit', queryParams|merge({ 'id': document.id })) }}" class="btn btn-warning btn-xs">Edytuj</a>
                            {% endif %}

                            {% if document.status == 'new' %}
                                <a href="{{ path('cms_sitepicture_setaccepted', queryParams|merge({ 'id': document.id })) }}" class="btn btn-success btn-xs">Zaakceptuj</a>
                                <a href="{{ path('cms_sitepicture_setrejected', queryParams|merge({ 'id': document.id })) }}" class="btn btn-danger btn-xs">Odrzuć</a>
                            {% endif %}

                            {% if document.status == 'rejected' %}
                                <a href="{{ path('cms_sitepicture_setaccepted', queryParams|merge({ 'id': document.id })) }}" class="btn btn-success btn-xs">Zaakceptuj</a>
                                <a href="{{ path(controller_name ~ '_delete', queryParams|merge({ 'id': document.id })) }}" class="btn btn-danger btn-xs">Usuń</a>
                            {% endif %}

                            {% if document.status == 'accepted' %}
                                <a href="{{ path('cms_sitepicture_setrejected', queryParams|merge({ 'id': document.id })) }}" class="btn btn-danger btn-xs">Odrzuć</a>
                            {% endif %}

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
<div class="navigation">
        {{ knp_pagination_render(pagination) }}
</div>
  
{% endblock %}