{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}{{ crud_config.element_name }} - dodaj{% endblock %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8"><h2>{{ crud_config.element_name }} - dodaj</h2></div>
                <div class="col-md-4 panel-btns"><a href="{{ path(controller_name, queryParams) }}" class="btn btn-xs btn-info" role="button">Powrót do listy</a></div>
            </div>
        </div>
        <form action="{{ path(controller_name ~ '_create', queryParams) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn btn-success">Utwórz</button>
            </p>
        </form>
    </div>
{% endblock %}