{% extends "BaseCmsBundle:Layout:layout.html.twig" %}

{% block title %}Akceptacja zgłoszenia{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
              <div class="col-md-8"><h2>Czy zaakceptować to zgłoszenie?</h2></div>
        </div>
    </div>
    <form role="form" action="{{ path('cms_sitepicture_setaccepted', queryParams|merge({ 'id': document.id })) }}" method="post" {{ form_enctype(accept_form) }}>
        {{ form_widget(accept_form) }}
            <button type="submit" class="btn btn-success">Potwierdź</button>
            <a href="{{ path('cms_sitepicture', queryParams) }}" class="btn btn-danger" role="button">Anuluj</a>
    </form>
</div>

{% endblock %}