{% extends "BaseCmsBundle:Layout:layout.html.twig" %}
{% block title %}Element{% endblock %}
{% block content %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
              <div class="col-md-8"><h2>{{ crud_config.element_name }}</h2></div>
              <div class="col-md-4 panel-btns">
                <a href="{{ path(controller_name, queryParams) }}" class="btn btn-xs btn-info" role="button">Powrót do listy</a>
            </div>
        </div>
    </div>
    <table class="table table-responsive">
        <tbody>
            {% for column in crud_config.elements %}
                <tr>
                    <th>{{ column.display_name }}</th>
                    {% if column.type == 'date' %}
                        <td>{{ attribute(document, column.name|replace({'_' : ''}))|date('d-m-Y H:i:s') }}</td>
                    {% else %}
                        <td>{{ attribute(document, column.name|replace({'_' : ''})) }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}