list_title: "Lista wszystkich elementów"
dashboard_description: "W tym module możesz zarządzać listą wszystkich elementów"
dashboard_color: "#836953"
element_name: "Element" #np. Produkt
menu_name: "Elementy" #np. Produkty
#menu_parent: "Produkty"
icon_class: "glyphicon glyphicon-list-alt"
default_sort_by: slug
default_sort_dir: DESC
default_filter: all
allow_add: true
allow_delete: true
allow_edit: true
elements_per_page: 80
show_search: true
elements:
#optional in each element:
#list_name: string
#list_center: boolean
{% for property in document_properties %}
  - { name: '{{ property.name }}', display_name: '{{ property.name }}', list_visible: true, sortable: true, editable: true, searchable: true, type: {{ property.type }} }
{% endfor %}
filters:
  - { name: 'all', display_name: 'Wszystkie', conditions []}
#- { name: 'active', display_name: 'Aktywne', conditions: [{ field : 'active', expression: 'equal', value : true }] }
#- { name: 'nonactive', display_name: 'Nieaktywne', conditions: [{ field : 'active', expression: 'equal', value : false }] }
#- { dynamic: true, class: AppBundle\Repository\CategoryRepository, document: AppBundle:Category, method: generateCrudList }

additionals_action:
#- { name: 'accept', action: accept, display_name: 'Zaakceptuj', conditions: [{ field : 'accepted', expression: '==', value : 'false', type: bool }], ajax: true}
#- { name: 'reject', action: reject, display_name: 'Odrzuć', conditions: [{ field : 'rejected', expression: '==', value : 'false', type: bool }], ajax: true}