<?php
namespace CmsBundle\Form;

use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\OptionsResolver\OptionsResolver;

class {{ document_class_name }}Type extends AbstractType
{

    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $myEntity = $builder->getForm()->getData();

        {% for property in document_properties %}

        if($options['crud_config']['elements']['{{ property.name }}']['editable'])
            $builder->add('{{ property.name }}', null, array('label' => $options['crud_config']['elements']['{{ property.name }}']['display_name']));
        {% endfor %}

    }

    public function configureOptions(OptionsResolver $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => '{{ document_name }}',
            'crud_config' => null,
            'media_config' => null
        ));
    }

    public function getName()
    {
        return 'gong_CmsBundle_{{ document_class_name|lower }}type';
    }
}
