cms_{{ document_class_name|lower }}:
    path:  /
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:index" }

cms_{{ document_class_name|lower }}_edit:
    path:  /{id}/edit
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:edit" }

cms_{{ document_class_name|lower }}_update:
    path:  /{id}/update
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:update" }

cms_{{ document_class_name|lower }}_delete:
    path:  /{id}/delete
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:delete" }

cms_{{ document_class_name|lower }}_create:
    path:  /create
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:create" }

cms_{{ document_class_name|lower }}_sort:
    path:  /sort
    defaults: { _controller: "CmsBundle:Cms{{ document_class_name }}:sort" }
    options:
        expose: true