.input-group span.input-group-btn button{
    padding-top: 4px;
    padding-bottom: 4px;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
.sortable-placeholder {
    background: red;
    width: 50px;
    height: 50px;
}
#sort-elements table tbody tr {
    cursor: move;
}

li.has-sub.current_ancestor ul.sub-menu{
    display:block;
}

img[id*="image_preview"] {
    max-width: 100%;
}

#modules .thumbnail {
    min-height: 260px;
}